
body {
  background-color: #9D9D93;
}

form {
  width: 30%;
  float: left;
  margin: 10px;
  padding: 10px;
  border: 1px solid green;
}

form.loading {
  border: 1px dashed red;
  background-image: url('/loader.gif');
  background-repeat: no-repeat;
  background-position: center center;
}

form.loading button {
  display: none;
}

div {
  padding: 20px;
  margin: 10px;
  background-color: #F8EDD1;
  width: 30%;
  float: left;
}

div.failed {
  background-color: #CF2D38;
  color: #FFF;
  font-weight: bold;
}

span.failed {
  color: red;
}

div.passed {
  background-color: #94B053;
  color: #FFF;
  font-weight: bold;
}

span.passed {
  color: green;
}
