
import System;

<% modules.each do |mod| %>
  import DA_STANDARD.<%= mod %>;
<% end -%>

<% spec_funcs.each do |func_name| %>
  Console.log("=== <%= func_name %>");
  DA_STANDARD.<%=func_name%>();
  Console.log("");
<% end -%>

Console.log("All specs PASSED.");
Console.log("JS file compiled at: <%= Time.now.to_s("%I:%M:%S %D") %>");
